<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie/=edge">
    <title>Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
</head>
<body>

<div class="container pt-5" id="app">
    <div class="row mb-3" >
        <div class="col">
            <h1>Cars application</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Find you car</label>
                <input
                    type="text" 
                    class="form-control" 
                    id="search" 
                    placeholder="Name, model ..."
                    v-model="search"
                >
            </div>
            <hr>
            <ul class="list-group">
                <li 
                    v-for="(car, index) in filteredCars"
                    class="list-group-item list-group-item-action pointer"
                    @click="selectCar(index)"
                    :class="{'active': selectCarIndex === index}"
                >
                    {{ car.name }} - {{ car.model }}
                </li>
                
        </div>
        <div class="col-md-8 pt-3" >
            <div class="row">
                <div class="col-md-5">
                    <h2>{{ car.name }}</h2>
                    <img 
                        :src="car.image" 
                        :alt="car.name"
                        class="rounded detailed-car-image"
                     >
                </div>
                <div class="col-md-7 pt-2">
                    <h5> Car details</h5>
                    <ul>
                        <li>Model - <strong>{{ car.model }}</strong></li>
                        <li>Year - <strong>{{ car.year  }}</strong></li>
                        <li>Owner - <strong>{{ car.owner }}</strong></li>
                    </ul>
                    <div class="phone-block">
                        <transition name="phone">
                        <p v-if="phoneVisibility">{{ car.phone }}</p>
                        </transition>
                    </div>
                    <button
                        class="btn btn-outline-success"
                        @click="phoneVisibility = !phoneVisibility"
                    >{{ phoneBtnText }}</button>
                    <button class="btn btn-primary" @click="modalVisibility = true">Buy</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row pt-3" v-if="logs.length !== 0">
        <div class="col-md-12">
            <ul class="list-group">
                <li 
                    v-for="log in logs"
                    class="list-group-item list-group-item-secondary"
                    :class="{
                        'list-group-item-secondary': log.type === 'cnl',
                        'list-group-item-success': log.type === 'ok',    
                    }"
                >
                    {{log.text}} {{ log.date | date }}
                </li>
            </ul>
        </div>
    </div>


    <transition name="modal">
        <div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Do you want buy this car?</h5>
                <button 
                     type="button"
                     class="close"
                     data-dismiss="modal" 
                     aria-label="Close"
                     @click="modalVisibility = false"
                 >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Current car - <strong>{{ car.name }}</strong></p>

                <ul>
                        <li>Model - <strong>{{ car.model }}</strong></li>
                        <li>Year - <strong>{{ car.year  }}</strong></li>
                        <li>Owner - <strong>{{ car.owner }}</strong></li>
                </ul>
              </div>
              <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-secondary"                     
                    @click='newOrder'
                >   
                    Buy
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary"
                    data-dismiss="modal"
                    @click='cancelOrder'
                >
                    Cancel
                </button>
              </div>
            </div>
        </div>
        </div>
    </transition>

    <transition name="fade">
        <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
    </transition>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>

</body>

</html>